<h4>Add a Item to the List</h4>
 <%= form_for [current_user, item] do |f| %>
   <div class="form-group">
     <%= f.label :description, class: 'sr-only' %>
     <%= f.text_field :description, class: 'form-control', placeholder: "Enter a new item" %>
   </div>
   <%= f.submit "Submit Item", class: 'btn btn-default pull-right' %>
 <% end %>
 