<% unless item.description.nil? %>
<div class="media">
   <div class="media-body">
     <small>
         <%= item.description %> - <%= time_ago_in_words(item.created_at) %> ago
         <%= link_to "Delete", [current_user, item], method: :delete, data: { confirm: 'Are you sure you want to delete this item?' } %>
     </small>
   </div>
 </div>
 <% end %>